body{
    background-color: deeppink;
    padding: 20px;
}


.botao{
    background-color:darkorchid;
    border-radius: 15px;
    color: black;
    font-size: small;
    width: 100px;
    height: 40px;
}
